*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://good-wallpapers.com/pictures/4839/above-blue-sky-wallpaper.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
    font-family: 'Raleway', sans-serif;
}
