.grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 60px;
}

@media (max-width:480px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

