.tutonav {
    /* background-color: #fff4e360; */
    /* background: linear-gradient(150deg, #fff4e360, #fff4e388, #fff4e338); */
    /* background-size: 300% 200%; */






    margin-bottom: 25px;


    /* background-color: rgba(255, 255, 255, 0.459);
    position: absolute;
    top: 0;
    left: 0; */
    width: 50vw;
}

.navposs {
    display: flex;
    justify-content: center;
}

.place {
    display: flex;
    flex-direction: row;
}

.texti {
    display: flex;
    justify-content: left;
    text-decoration: none;
    padding-top: 4px;
    color: white;
}

.texti h2 {
    font-size: 60px;
}

.textd {
    display: flex;
    justify-content: right;
    text-decoration: none;
    padding-top: 8px;
    color: white;
}

.bold {
    font-weight: 400;
    color: black;
}

.fine {
    font-weight: 200;
    color: rgb(73, 73, 73);
}

.bar {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}

@media (max-width: 320px) {
    .tutonav {
        width: 50vmax;
        /* margin-top: 5px;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px; */
    }

    .navposs {
        display: flex;
        justify-content: center;
    }



    .textd {
        display: none;
    }
}