.navposs {
    display: flex;
    justify-content: center;
}

.texti {
    display: flex;
    justify-content: left;
    text-decoration: none;
    padding-top: 4px;
    color: white;
}

.texti h2 {
    font-size: 60px;
}

.bold {
    font-weight: 400;
    color: black;
}

.fine {
    font-weight: 200;
    color: rgb(73, 73, 73);
}

@media (max-width: 480px) {

    .navposs {
        display: flex;
        justify-content: center;
    }

    .textd {
        display: none;
    }
}