.cont {
    align-content: center;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.459);
    margin: 10px 0;
}

.inp {
    width: 50vw;
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    padding-right: 15px;
    padding-left: 23px;
    padding-bottom: 10px;
    padding-top: 10px;
    outline: none;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.61);
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border-color: transparent;
    color: rgba(0, 0, 0, 0.61);
    padding-left: 10px;
    padding-right: 20px;
    outline: none !important;
}

@media (max-width: 480px) {
    .cont {
        margin: 0;
        justify-content: space-between;
    }

    .inp {
        width: 70vw;
    }
}