.head {
    padding: 15px 0;
}

.navposs {
    display: flex;
    justify-content: center;
}

.texti {
    display: flex;
    justify-content: left;
    text-decoration: none;
    padding-top: 4px;
    color: white;
}

.texti h2 {
    font-size: 60px;
}

.bold {
    font-weight: 400;
    color: black;
}

.fine {
    font-weight: 200;
    color: rgb(73, 73, 73);
}

.info {
    display: flex;
    padding: 0 150px;
}

.textCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.hello {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.desc {
    font-size:larger;
}  


.apilink {
    color:red
}

.net {
    width: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.net:hover {
    border-radius: 25px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
}

.net p {
    cursor:pointer;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    margin-bottom: 0;
}

.imgContainer {
    /* width: 50vw; */
}

.imagenPerfil {
    width: 25rem;
    border-radius: 50%;
}

.boxima {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    margin-bottom: 10px;
    background-color: transparent;
    cursor: pointer;
}


@media (max-width:480px) {
    .info {
        flex-direction: column-reverse;
        padding: 10px;
        justify-content: center;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
    }

    .imagenPerfil {
        width: 40vw;
    }

    .textCont {
        border-radius: 10px;
        margin-top: 15px;
        padding: 10px 10px 0px;
        background-color: rgba(255, 255, 255, 0.658);
    }

    .image {
        margin-bottom: 0;
    }
}

