.cardInd {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 8px;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-left: 95px;
    margin-right: 95px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.473);
}

.btnback {
    background-color: transparent;
    border: transparent;
    height: auto;
    outline: none !important;
    margin-right: 35px;
}

.head {
    padding: 15px 0;
}

.navposs {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.texti {
    display: flex;
    justify-content: left;
    text-decoration: none;
    padding-top: 4px;
    color: white;
}

.texti h2 {
    font-size: 60px;
}

.bold {
    font-weight: 400;
    color: black;
}

.fine {
    font-weight: 200;
    color: rgb(73, 73, 73);
}

.loading {
    margin-top: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contInfo {
    display:flex;
    justify-content:center;
}


.tempimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}

.title {
    font-size: 450%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.minmax {
    display: flex;
    padding: 15px 30px;
    white-space: nowrap;
}

.img {
    width: 100%;
    vertical-align: middle;
    border-style: revert;
    border-radius: 15px;
}

.align {
    text-align: center;
}

@media (max-width: 480px) {
    .cardInd {
        margin: 0 25px;
    }

    .contInfo {
        flex-direction: column-reverse;
    }

    .title {
        padding-top: 20px;
        padding-bottom: 0;
    }

    .contMinMax {
        display: flex;
        justify-content: center;
    }

    .minmax {
        flex-direction: column;
    }
}